<h1>Payment Calculations</h1>

<form class="" action="/payment/results" >
<div class="">

<label for="zebra">
APR
</label>

<input id= "zebra" type="text" name="rate" placeholder="E.g. 5.42" >
</div>
<div class="">

<label for="shark">
Number of years
</label>
<input id= "shark" type="text" name="number_of_years" placeholder="How many years to repay?">
</div>


<div class="">
<label for="whale">
Principal
</label>
<input id="whale" type="text" name="present_value" placeholder="How much principal?">
  <button type="submit" name="button">
    Calculate monthly payment
  </button>
</div>
</div>

</form>
