<h1>Payment Calculations</h1>

<form class="" action="/payment/results" >
<div class="">

<label for="">
APR
</label>

<input type="text" name="basis_points" placeholder="E.g. 5.42" >
</div>
<div class="">

<label for="">
Number of years
</label>
<input type="text" name="number_of_years" placeholder="How many years to repay?">
</div>


<div class="">
<label for="">
Principal
</label>
<input type="text" name="present_value" placeholder="How much principal?">
  <button>Calculate monthy payment</button>
</div>
</div>

</form>
