<h1>Random Calculation</h1>

<form class="" action="/square/results" >
  <div class="">

    <label for="whale">
      Minimum
    </label>
    <input id="whale" type="text" name="min" placeholder="E.g. 1.5">
  </div>

  <div class="">

    <label for="shark">
      Maximum
    </label>
    <input id="shark" type="text" name="max" placeholder="E.g 4.5">

  </div>



  <button>Pick random number</button>


</form>
